@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #0e0d0d;
  --plainWhite:#f7f7f7;
  --solidWhite:#fff;
  --primaryBlue:#444f9a;
  --gradientPairDarkRight: #2e45a2;
  --gradientPairLightLeft: #6a71f3;
  --textColor: var(--plainWhite);
  --primaryThemeColor:var(--primaryBlue);
  --background: var(--primaryColor);
  --border:(--background);
}

.abc{
  --primaryBlack: #0e0d0d;
  --plainWhite:#f7f7f7;
  --solidWhite:#fff;
  --primaryBlue:#444f9a;
  --gradientPairDarkRight: #2e45a2;
  --gradientPairLightLeft: #6a71f3;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f7f7f7;
    --textColor: #222;
  }
}

body {
  color: var(--textColor);
  background:var(--primaryBlack);
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

*{
  box-sizing: border-box;
}

div{
  width: 100%;
}